body {
    margin: 0;
    padding: 0;
}

section {
    clear: both;
}
h1{font-size: 33px;}
h2 {}

section.header img {
    width: 10%;
    float: left;
    margin-right: 1%;
}
section.header {
    color: black;
}
section.header .navbar-default {
    background-color: white;
    border-radius: 0;
    border: 1px solid white;
    width:100%;
    top: 0;
    position: fixed;
    z-index: 9999;
}
section.header .navbar-nav .active a {
    background-color: white;
    color: coral;
    margin-top: 1.5%;
}
section.header .navbar-nav .active a:hover {
    background-color: white;
    color: coral;
}
section.header .navbar-nav a {
    color: #000000;
    margin-top: 1.5%;
}
section.header .navbar-nav a:hover {
    color: coral;
    transition: 0.5s;
}
section.header .navbar-brand {
    color: #000000;
    margin-top: 1.5%;
}
section.header .navbar-brand:hover {
    color: coral;
    transition: 0.5s;
}

/* SECTION BELLE */

section.belle .container{
    margin-top: 5%;
    background: url("../img/tabl.jpg") no-repeat;
    width: 85%;
    height: 100vh;
    background-position: center;
}

section.belle h1 {
    line-height: 1.2;
    color: white;
    margin-top: 20%;
    margin-left: 40%;
    font-size: 80px;
}
section.belle p {
    color: white;
    margin-left: 40%;
    font-size: 30px;
    margin-top: 1%;
}
section.belle hr {
    position: absolute;
    width: 10%;
    border: 1px solid white;
    margin-left: 59%;
    margin-top: -1%;
}

/* SECTION SERVICES */
section.service span {
    font-size: 70px;
}

section.service h1 {
    margin-top: -55%;
    margin-bottom: 7%;
    letter-spacing: 0.1em;
}
section.service p {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-bottom: 7%;
}
section.service a {
    float: left;
    text-decoration: none;
    color: #000000;
}
section.service a:hover {
    color: coral;
    transition: 0.5s;
}
section.service hr {
    width: 10%;
    border: 1px solid coral;
    margin-top: 8.5%;
    margin-left: 27%;
}
section.service #border1 {
    padding-right: 315px;
    padding-left: 220px;
    padding-top: 100px;
    padding-bottom: 260px;
    border: 1px solid #f2e6d9;
    width: 10%;
    background-color: #f2e6d9;
    margin-left: 58%;
    margin-top: 10%;
}
section.service img {
    width: 100%;
    margin-top: -55%;
    margin-left: 7%;
}

/* SECTION GALLERY */
section.gallery #border2 {
     padding-right: 315px;
     padding-left: 220px;
     padding-top: 100px;
     padding-bottom: 260px;
     border: 1px solid #f2e6d9;
     width: 10%;
     background-color: #f2e6d9;
     margin-left: 4%;
     margin-top: 10%;
 }
section.gallery img {
    width: 100%;
    margin-top: -55%;
}
section.gallery span {
    font-size: 70px;
}
section.gallery h1 {
    margin-top: -55%;
    margin-left: 30%;
    margin-bottom: 8%;
    letter-spacing: 0.1em;
}
section.gallery p {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-left: 30%;
    margin-bottom: 7%;
}
section.gallery h6 {
    float: left;
    margin-left: 30%;
}
section.gallery a {
    text-decoration: none;
    color: #000000;
}
section.gallery a:hover {
    color: coral;
    transition: 0.5s;
}
section.gallery hr {
    width: 10%;
    border: 1px solid coral;
    margin-left: 48%;
    margin-top: 8.5%;
}

/* SECTION TESTIMONITIAL */
section.testimonials span {
    font-size: 70px;
}
section.testimonials h1 {
    margin-top: -55%;
    margin-bottom: 8%;
    letter-spacing: 0.1em;
}
section.testimonials p {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-bottom: 7%;
}
section.testimonials #mia {
    opacity: 0.7;
    filter:(opacity=70);
    margin-bottom: 7%;
}
section.testimonials a {
    float:left;
    color: #000000;
    text-decoration: none;

}
section.testimonials a:hover {
    color: coral;
    transition: 0.5s;
}
section.testimonials hr {
    width: 10%;
    border: 1px solid coral;
    margin-top: 10.5%;
    margin-left: 25%;
}
section.testimonials #border3 {
    padding-right: 315px;
    padding-left: 220px;
    padding-top: 100px;
    padding-bottom: 260px;
    border: 1px solid #f2e6d9;
    width: 10%;
    background-color: #f2e6d9;
    margin-left: 58%;
    margin-top: 10%;
}
section.testimonials img {
    width: 100%;
    margin-top: -55%;
    margin-bottom: 20%;
}
/* SECTION FOOTER */

section.footer p {
    margin-bottom: 25%;
    font-size: 17px;
}
section.footer a {
    text-decoration: none;
    color: #000000;
}
section.footer button {
    width: 100%;
    border: 1px solid coral;
    padding: 17px;
    background-color: white;
    margin-top: -10px;
}
section.footer button:hover {
    background-color: coral;
    transition: 0.5s;
    color: white;
}
section.footer hr {
    border: 1px solid coral;
    width: 25%;
    transform: rotate(90deg) translateZ(0px);
    margin-left: 73%;
    margin-top: -33%;
}


/* ABOUT.HTML */

section.about-belle span {
    font-size: 75px;
}
section.about-belle h1 {
    margin-bottom: 7%;
    letter-spacing: 0.1em;
    margin-top: -55%;
}
section.about-belle p {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

section.about-belle #border4 {
    padding-right: 315px;
    padding-left: 220px;
    padding-top: 100px;
    padding-bottom: 260px;
    width: 10%;
    border: 1px solid #f2e6d9;
    background-color: #f2e6d9;
    margin-left: 58%;
    margin-top: 10%;
}
section.about-belle img {
    width: 100%;
    margin-top: -60%;
}

/* SECTION SMALL-DETAILS */

section.small-details #border5 {
    padding-right: 315px;
    padding-left: 220px;
    padding-top: 100px;
    padding-bottom: 260px;
    width: 10%;
    border: 1px solid #f2e6d9;
    background-color: #f2e6d9;
    margin-left: 3%;
    margin-top: 10%;
}

section.small-details img{
    width: 65%;
    margin-top: -50%;
    margin-left: 15%;
}

section.small-details h1 {
    margin-left: 25%;
    margin-bottom: 7%;
    letter-spacing: 0.1em;
    margin-top: -45%;
}

section.small-details p {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-left: 25%;
}
/* SECTION FOOTER-ABOUT */


section.footer-about p {
    margin-top: 45%;
    margin-bottom: 25%;
    font-size: 17px;
}
section.footer-about a {
    text-decoration: none;
    color: #000000;
}
section.footer-about button {
    margin-top: 41%;
    width: 100%;
    border: 1px solid coral;
    padding: 17px;
    background-color: white;
}
section.footer-about button:hover {
    background-color: coral;
    transition: 0.5s;
    color: white;
}
section.footer-about hr {
    border: 1px solid coral;
    width: 25%;
    transform: rotate(90deg) translateZ(0px);
    margin-left: 73%;
    margin-top: -32%;
}


/* SERVICES.HTML */

/* SECTION IMG1 */

section.img1 #border6 {
    border: 1px solid #f2e6d9;
    width: 10%;
    padding-right: 600px;
    padding-left: 600px;
    padding-bottom: 100px;
    padding-top: 300px;
    background-color: #f2e6d9;
    margin-top: 5%;
    margin-left: 14.5%;
}

section.img1 img {
    width: 75%;
    margin-left: 13%;
    margin-top: -30%;
}

section.img1 i {
    float: right;
    margin-top: 5%;
    margin-right: 140px;
}
section.img1 a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
section.img1 a:hover {
    text-decoration: underline;
}
section.img1 hr {
    width: 76%;
    border: 1px solid #666666;
    margin-top: 10%;
    margin-left: 12%;
}

/* FULLPACKAGE */

section.full-package h2 {
    font-size: 21px;
    margin-top: 10%;
    margin-left: 40%;
}
section.full-package a {
    text-decoration: none;
    color: black;
}
section.full-package a:hover {
    color: coral;
    transition: 0.5s;
}
section.full-package h3 {
    font-size: 20px;
    margin-top: 11%;
    margin-left: 35%;
}
section.full-package button {
    transition: 0,5s;
    width: 35%;
    padding: 10px;
    background: coral;
    border: 1px solid coral;
    margin-top: 7%;
    margin-left: 27%;
    color: #ffffff;
}
section.full-package button:hover {
    background-color: chocolate;
}
section.full-package hr {
    width: 76%;
    border: 1px solid #666666;
    margin-top: 10%;
    margin-left: 12%;
}

/* PARTIAL-PACKAGE */


section.partial-package h2 {
    font-size: 21px;
    margin-top: 10%;
    margin-left: 40%;
}
section.partial-package a {
    text-decoration: none;
    color: black;
}
section.partial-package a:hover {
    color: coral;
    transition: 0.5s;
}
section.partial-package h3 {
    font-size: 20px;
    margin-top: 11%;
    margin-left: 35%;
}
section.partial-package button {
    width: 35%;
    padding: 10px;
    background: coral;
    border: 1px solid coral;
    margin-top: 7%;
    margin-left: 27%;
    color: #ffffff;
}
section.partial-package button:hover {
    background-color: chocolate;
}
section.partial-package hr {
    width: 76%;
    border: 1px solid #666666;
    margin-top: 10%;
    margin-left: 12%;
}

/* WEDDING-COORDINATOR */


section.wedding-coordinator h2 {
    font-size: 21px;
    margin-top: 10%;
    margin-left: 40%;
}
section.wedding-coordinator a {
    text-decoration: none;
    color: black;
}
section.wedding-coordinator a:hover {
    color: coral;
    transition: 0.5s;
}
section.wedding-coordinator h3 {
    font-size: 20px;
    margin-top: 11%;
    margin-left: 35%;
}
section.wedding-coordinator button {
    width: 35%;
    padding: 10px;
    background: coral;
    border: 1px solid coral;
    margin-top: 7%;
    margin-left: 27%;
    color: #ffffff;
}
section.wedding-coordinator button:hover {
    background-color: chocolate;
}
section.wedding-coordinator hr {
    width: 76%;
    border: 1px solid #666666;
    margin-top: 10%;
    margin-left: 12%;
}

/* DESTINATION WEDDING */



section.destination-wedding h2 {
    font-size: 21px;
    margin-top: 10%;
    margin-left: 40%;
}
section.destination-wedding a {
    text-decoration: none;
    color: black;
}
section.destination-wedding a:hover {
    color: coral;
    transition: 0.5s;
}
section.destination-wedding h3 {
    font-size: 20px;
    margin-top: 11%;
    margin-left: 35%;
}
section.destination-wedding button {
    width: 35%;
    padding: 10px;
    background: coral;
    border: 1px solid coral;
    margin-top: 7%;
    margin-left: 27%;
    color: #ffffff;
}
section.destination-wedding button:hover {
    background-color: chocolate;
}

/* TESTIMONIALS.HTML */



section.cristina #border2 {
    padding-right: 315px;
    padding-left: 220px;
    padding-top: 100px;
    padding-bottom: 260px;
    border: 1px solid #f2e6d9;
    width: 10%;
    background-color: #f2e6d9;
    margin-left: 4%;
    margin-top: 0;
}
section.cristina img {
    width: 100%;
    margin-top: -55%;
}
section.cristina span {
    font-size: 70px;
}
section.cristina h1 {
    margin-top: -55%;
    margin-left: 9%;
    margin-bottom: 8%;
    letter-spacing: 0.1em;
}
section.cristina p {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-left: 9%;
    margin-bottom: 7%;
}


/* GALLERY.HTML */

section.img2 h1{
    text-transform: uppercase;
    margin-top: -34%;
    margin-left: 35%;
    font-size: 25px;
    color: #555;
}
section.img2 img {
    margin-left: 11%;
}
section.lotimg img{
    float: left;
    margin-top: 40%;
    width: 70%;
    height: 300px;
    margin-left: 23%;
    margin-right: 23%;
}

section .nextr {
    margin-left: -11%;
}

section.lotimg img:hover {
    opacity: 0.5;
    filter: (opacity=50);
}
section.lotimg .uppp {
    margin-top: -12%;
}


/* CONTACT.HTML */

section.contactus .inputz {
    border: 1px solid coral;
    background: white;
    z-index: 99999;
    margin-top: -30%;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 65px;

}
section.contactus a {
    float: left;
    margin-top: -65px;
}

section.contactus input{
    border: none;
    width: 45%;
    background-color: white;
    border-bottom: 1px solid coral;
    padding: 10px;
}
section.contactus #subject {
    width: 91%;
    margin-top: 2%;
}
section.contactus textarea {
    padding: 10px;
    border: none;
    width: 91%;
    height: 155px;
    border-bottom: 1px solid coral;
    margin-top: 2%;
}
section.contactus button {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px hidden;
    background: white;
    margin-left: 35%;
    margin-top: 4%;
}
section.contactus hr{
    width: 10%;
    border: 1px solid coral;
    margin-left: 55%;
    margin-top: 8.5%;
}


@media only screen
and (min-width: 1030px) and (max-width: 1366px) {
    section.img1 #border6 {
        border: 1px solid #f2e6d9;
        width: 10%;
        padding-right: 600px;
        padding-left: 600px;
        padding-bottom: 100px;
        padding-top: 300px;
        background-color: #f2e6d9;
        margin-top: 5%;
        margin-left: 5%;
    }

    section.small-details img{
        width: 90%;
        margin-top: -50%;
        margin-left: 15%;
    }
}






